* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "proxima_nova_black";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_black.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_black.woff2);
}
@font-face {
  font-family: "proxima_nova_bold";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_bold.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_bold.woff2);
}
@font-face {
  font-family: "proxima_nova_extrabold";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_extrabold.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_extrabold.woff2);
}
@font-face {
  font-family: "proxima_nova_light";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_light.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_light.woff2);
}
@font-face {
  font-family: "proxima_nova_regular";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_regular.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_regular.woff2);
}
@font-face {
  font-family: "proxima_nova_semibold";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_semibold.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_semibold.woff2);
}
@font-face {
  font-family: "proxima_nova_thin";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_thin.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_thin.woff2);
}
@font-face {
  font-family: "proxima_nova_thin_italic";
  src: url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_thin_italic.woff),
    url(/fonts/Proximanova-fonts-master/converted_fonts/proxima_nova_thin_italic.woff2);
}

body {
  font-family: "proxima_nova_black";
}

.bg-image {
  width: 100%;
  background-image: url(./images/pngtree-woman-in-colorful-music-sound-wallpaper-image_2894117.jpg);
}
